---
import Project from "../components/Project.astro";
import StyledButton from "../components/StyledButton.astro";
import Layout from "../layouts/Layout.astro";

import GitHub from "../assets/github.svg";
import Codeberg from "../assets/codeberg.svg";

import Logo from "../assets/spectris.svg";
---

<Layout>
  <main class="p-16 md:p-32 font-display min-h-screen space-y-8 text-white">

    <div class="flex flex-col sm:flex-row justify-between">
      <div class="flex flex-row items-center">
        <Logo width=16rem height=16rem />
        <h1 class="text-7xl font-semibold">
          <style>@keyframes p{to{background-position:200% center}}</style>

          <span
            class="bg-[linear-gradient(to_right,#ef4444,#f97316,#eab308,#22c55e,#3b82f6,#6366f1,#8b5cf6,#ef4444)] bg-[length:200%_auto] animate-[p_2s_linear_infinite] bg-clip-text text-transparent sm:text-white hover:text-transparent transition-colors duration-1000"
            >Spectris</span
          >
          Collective
        </h1>
      </div>

      <div class="flex flex-row gap-8">
        <a href="https://github.com/seirea" aria-label="Organization GitHub Link">
            <GitHub width=3.5em height=3.5em class="hover:opacity-50 transition-all" />
        </a>
        <a href="https://codeberg.org/spectris" aria-label="Organization GitHub Link">
            <Codeberg width=3.5em height=3.5em class="hover:opacity-50 transition-all" />
        </a>
      </div>
    </div>
    
    <div class="space-y-2">
      <h2 class="text-4xl font-medium">About</h2>
      <p class="text-2xl">Spectris is a student software development and research organization.</p>
    </div>

    <div class="space-y-2">
      <h2 class="text-4xl font-medium">Projects</h2>
      <ul class="flex flex-row gap-4">
        <Project
          href="https://app.seirea.org"
          repo_href="https://github.com/Seirea/seirea-web"
          name="Seirea">An open source grade viewer application.</Project
        >
        <Project
          href="https://biomechanics.spectris.dev"
          repo_href="https://github.com/Seirea/biomechanics"
          name="BioMechanics: The Puzzles of Restoration"
          >Puzzle game submission for the U.S. National Science Foundation Game
          Maker Awards Competition.</Project
        >
      </ul>
    </div>
  </main>
</Layout>
