---
import Project from '../components/Project.astro';
import StyledButton from '../components/StyledButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="p-16 md:p-32 font-display min-h-screen space-y-8">
		<h1 class="text-6xl font-semibold">
			<span class="text-transparent bg-clip-text bg-gradient-to-tr from-blue-600 to-red-600">Seirea</span>
			Collective</h1>

		<ul class="flex flex-col gap-2 text-xl">
			<p>The Seirea Collective is an organization of student developers.</p>
			<p>El colectivo Seirea es una organización de estudiantes desarrolladores.</p>
			<p>Le Seirea Collectif est un organisation des élèves développeurs.</p>
			<p>Сейриа е колективна организация на ученик-програмисти.</p>
		</ul>

		<div class="space-y-2">
			<h2 class="text-3xl font-medium">Projects</h2>
			<ul class="flex flex-col gap-4">
				<Project href="https://app.seirea.org" repo_href="https://github.com/Seirea/seirea-web" name="Seirea">An open source grade viewer application.</Project>
				<Project href="https://seirea.org/biomechanics" repo_href="https://github.com/stanleymw/biomechanics" name="BioMechanics: The Puzzles of Restoration">Puzzle game submission for the U.S. National Science Foundation Game Maker Awards Competition.</Project>
			</ul>
		</div>
	</main>
</Layout>
