---
import Layout from '../layouts/Layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="p-4 space-y-4">
		<h1 class="text-4xl">Seirea Collective</h1>

		<p>The Seirea Collective is a student-led software programming organization.</p>
	</main>
</Layout>
