---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="p-4 space-y-4 font-display">
		<h1 class="text-4xl">Seirea Collective</h1>

		<p>The Seirea Collective is a student-led development organization.</p>
	</main>
</Layout>
