---
import Project from "../components/Project.astro";
import StyledButton from "../components/StyledButton.astro";
import Layout from "../layouts/Layout.astro";

import Logo from "../assets/spectris.svg";
---

<Layout>
  <main class="p-16 md:p-32 font-display min-h-screen space-y-8 text-white">
    <div class="flex flex-row items-center">
      <Logo width=64rem/>
      <h1 class="text-7xl font-semibold">
        <span
          class="text-transparent bg-clip-text bg-gradient-to-tr from-blue-400 to-red-400"
          >Spectris</span
        >
        Collective
      </h1>
    </div>
    
    <div class="space-y-2">
      <h2 class="text-4xl font-medium">About</h2>
      <p class="text-2xl">Spectris is a student software development and research organization.</p>
    </div>

    <div class="space-y-2">
      <h2 class="text-4xl font-medium">Projects</h2>
      <ul class="flex flex-row gap-4">
        <Project
          href="https://app.seirea.org"
          repo_href="https://github.com/Seirea/seirea-web"
          name="Seirea">An open source grade viewer application.</Project
        >
        <Project
          href="https://biomechanics.spectris.dev"
          repo_href="https://github.com/Seirea/biomechanics"
          name="BioMechanics: The Puzzles of Restoration"
          >Puzzle game submission for the U.S. National Science Foundation Game
          Maker Awards Competition.</Project
        >
      </ul>
    </div>
  </main>
</Layout>
