---
const { href } = Astro.props;
---


<a href={href} class="bg-gradient-to-tr from-indigo-500 to-blue-500 rounded-md px-4 py-2 text-white hover:from-indigo-300 hover:to-blue-300 border hover:border-black hover:text-black transition-all">
    <slot/>
</a>